.create-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
  }
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #649de2;
    color: white;
  }
}
